<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>CRUD</display-name>
    <servlet-name>CRUD</servlet-name>
    <servlet-class>CRUD.CRUD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CRUD</servlet-name>
    <url-pattern>/CRUD</url-pattern>
  </servlet-mapping>
  <display-name>emp_CAT_22RP05056</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>